[Unit]
Description=opser_agent
After=network.target

[Service]
ExecStart=/usr/local/bin/opser
Environment="server=localhost:8080"
Restart=on-failure

[Install]
WantedBy=multi-user.target
